body {
margin:  0px;
padding: 0px;
border: 0px;
}

html {
  scroll-behavior: smooth;
}


.nav-color {
  background-color:#231E1E;
  text-align: center;
  color: white;
}

.nav-link {
  color:white;
}
.nav-link:active{
  color:yellow;
}
.nav-link:hover{
  color:tomato;
}
a:hover{
  color:tomato!important;
  text-decoration: none;
}


.section {
  padding: 50px 10px 10px 10px;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.title-card {
  background-image: url(img/boris\ bw\ on\ stairs.jpg);
  padding: 10px;
  background-size:  100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:WHITE;
  text-align: right;

}
.inner-title{
  padding-top: 15vh;
}
/* .inner-title:hover{
  color:tomato;
} */
.headshot {
  width: 150px;
margin-left: 20%;
margin-top: 15%;
}

.profile-image {
  padding-top: 40px;
  width: 400px;
  padding-left: 20px;
}

.portfolio-image {
  padding-top: 40px;
  width: 500px;
  /* border: 1px solid black; */
  opacity: 0.5;
  margin-bottom: 10px;

}
.portfolio-image:hover {
opacity: 1;

}

.fab:hover{
  color: tomato;
}

i {
  padding-right: 20px;
}
.links {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content:left;
}


footer {
  background-color: #231E1E;
  text-align: center;
  color:white;
  padding: 30px;
}
