body {
margin:  0px;
padding: 0px;
border: 0px;
background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);

}

html {
  scroll-behavior: smooth;
}
.text-hilite {
  /* color:#95a2ae; */
  color:white;
}

.nav-color {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  text-align: center;
  color: white;
}

.nav-link {
  color:white;
}
.nav-link:hover{
  color:black !important;
}


a:hover{
  color:yellow !important;
  text-decoration: none;
}

.section {
  padding: 60px;
  min-height: 100vh;
  background-color:rgb(62, 61, 61);
  /* margin:auto; */
  font-size: 16px !important;
  color:lightgray;
}


.hero {
  color: white;
  height: 100vh;
  /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  width: 100%;
  z-index:2;
}

#header{
  font-size: 88px;
}

#subheader{
  font-size: 36px;
}

.primary-font {
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}
.secondary-font {
  font-family: 'PT Sans Narrow', sans-serif;
}

.title-card {
  padding-top: 20%;
  z-index: 2;
  /* position:fixed; */
}

.line {
  border-top: 1px solid white;
}

.profile-image {
  padding-top: 40px;
  width: 400px;
  padding-left: 20px;
}

.portfolio-image {
  opacity: 1;
  margin: 10px;
}

.portfolio-image:hover {
opacity: .75;
border: 1px solid white;
}

.write-up {
padding: 0px;
height: auto;
}

.yella {
  color: #f0ad4e;
}

.yella:hover{
  color:yellow !important;
}

i {
  padding-right: 20px;
}
.links {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content:left;
}

footer {
  background-color:rgb(62, 61, 61);
  text-align: center;
  color:white;
  padding: 10px;
}

.portfolio-table{
 width: auto;
}

.btn:active {
  background-color: darkorange !important;
}

.headshot{
  width: 90%;
  max-width: 350px;
  height: auto;
  border-radius: 100%;
}

.font14 {
  font-size: 14pt;
}
.font16 {
  font-size: 16pt;
}